:root {
  --app_width: 900px;
  --app-header_height: 3em;
  --app-chooser_input_user: 30em;
  --font-size: 1em;
}

@media only screen and (max-width: 1000px) {
  :root {
    --app_width: 90%;
    --app-chooser_input_user: 25em;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --app_width: 95%;
    --app-chooser_input_user: 20em;
    --font-size: 0.8em;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --app_width: 100%;
    --app-chooser_input_user: 15em;
    --font-size: 0.7em;
  }
}

@media only screen and (max-width: 420px) {
  :root {
    --font-size: 0.5em;
  }
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(var(--font-size) * 3);
  text-align: center;
  background-color: #222;
  color: white;
  z-index: 200
  font-size: var(--font-size);
  a {
    color: yellow;
  }
}

.App-input-bar {
  padding-top: 0.3em;
  padding-bottom: @padding-top;
}

.App-status-bar {
  position: relative;
  background-color lightpink;
  height: 1em;
  transition: 0.3s;
  overflow: hidden;
}

.App-status-bar, .App-title {
  font-size: larger;
  font-weight: bolder;
}

.hidden {
  height: 0;
}

body-style()
  position: absolute;
  width: 100%;
  top: calc(var(--font-size) * 4);
  text-align: center;
  font-size: var(--font-size);
  button, input {
    font-size: var(--font-size);
  }

.App-body {
  body-style()
}

.App-chooser {
  background-color: bisque;

  input#user {
    width: var(--app-chooser_input_user);
  }
}

.App-chooser, .App-data {
  margin-left: auto;
  margin-right: auto;
  width: var(--app_width);
}

.App-data-paginator {
  display: inline-block;
  float: left;
}

.App-data__input-per-page {
  float: right;

  input {
    width: 2.5em;
  }
}

table-style()
  table {
    border: 2px solid;
    margin-top: 0.2em;
    text-align: left;
    border-collapse: collapse;
    width: 100%;

    thead, caption {
      text-align: center;
      background-color: lightgray;
    }

    th, td {
      border: 1px solid;
    }

    img {
      margin-left: 0.5em;
      width: 3em;
      height: @width;
    }

    td {
      a {
        vertical-align: super;
        margin-left: m = 0.5em;
        margin-right: m;
      }
    }
  }

.App-data {
  table-style()
}

.App-issue-detailed {
  table-style()
  margin-left: auto;
  margin-right: auto;
  width: var(--app_width);
}

